body {
    background-image: url("/assests/images/prism.png");
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.blue-back-drop {
    color: #dadada;
    background-color: #2f2fa2;
    padding: 20px;
    margin: 40px 0px 40px 0;
    box-shadow: 10px 10px 5px #242582;
    font-size: 30px;
    text-align: center;
}

.rot-clock {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

.rot-counter-clock {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

.blank {
    font-size: 50px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}

.word-blank {
    text-align: center;
    margin-bottom: 10px;
}